{% extends "base.html" %}
{% block content %}
<h1>Add Page Numbers</h1>
<form action="/number" method="post" enctype="multipart/form-data">
    <label>Select PDF file:</label><br>
    <input type="file" name="pdf_file" accept="application/pdf" required><br><br>

    <label>Numbering style:</label><br>
    <select name="style">
        <option value="1">1, 2, 3...</option>
        <option value="-1-">-1-, -2-, -3-...</option>
        <option value="Page">Page 1, Page 2, Page 3...</option>
    </select><br><br>

    <button type="submit">Add Numbers and Download</button>
</form>
{% endblock %}
